.notFound{
    border: 4px $colorCalido solid;
    background-image: url(../imagenes/instrumentador.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: $letraClara;    
    height: 100vh;
    h1{
        margin: 2rem 0 1rem;
    }
    h2{
        margin-bottom: 2rem;
        text-align: center;
    }
    div{
        width: 50%;        
        border: 2px $colorCeleste solid;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        font-size: 2rem;
        a{
            text-decoration: none;
            color: $letraClara;          
            padding: 1rem;  
            text-align: center;         
        }               
    }
}
