.gridEncuentranos{
    display: grid;
    grid-template-areas:
    "navbar" 
    "encuentranos"
    "pie";
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-template-rows: 3fr auto 2fr;
    height: 100vh;
    padding: 0;

}

nav{
    grid-area: navbar;
}

.mainEncuentranos{
    grid-area: encuentranos;
}
footer{
    grid-area: pie;
}

.mainEncuentranos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ubicacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 1rem;
    border-top: 1px solid $colorCalido;
    border-bottom:1px solid $colorCalido ;
    justify-content: space-around;
    align-items: center;
}
.tituloEncuentranos, .descripcion{
    text-align: center;
    margin: 2rem;
}

.vistaExt, .mapa{    
    width: 45%;    
    margin: 1rem;
}

@media (max-width:768px){
    .vistaExt, .mapa{
        width: 90%;
    }
          
}