.mainIndex{
    margin: 2rem 0;
}

.contenedorCarrusel{
    width: 90%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    padding: 0%;
}

.carrusel{
    display:grid;
    width: 100%;
    grid-template-columns: 100% 100% 100%;
    animation-name: mover;
    animation-duration: 15s;
    animation-iteration-count: infinite;    
}

.carruselSlider{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;   
    img{
        width: 100%;
        height: 100%;
        object-fit:cover;        
    }
    
}

.sliderFondo{
    background: linear-gradient(#479dc2,rgb(255, 111, 0));
    width: 100%;
    height: 500px;
    opacity: 0.6;
    position: absolute;
    z-index: +1;    
}

.sliderTitulo1{
    position:absolute;
    width: 50%;
    margin-top: 20%;
    margin-left: 4%;
    color: whitesmoke;
    font-size: 2rem;
    z-index: +2;
}
.sliderTitulo2{
    @extend .sliderTitulo1;
}

.sliderTitulo3{
    @extend .sliderTitulo1;
    margin-left: 40%;
    margin-right: 10%;

}


@keyframes mover{
    10%{
        margin-left: 0%;
    }
    20%{
        margin-left: -100%;
    }
    40%{
        margin-left: -100%
    }
    50%{
        margin-left: -200%;
    }
    60%{
        margin-left: -200%;
    }
    80%{
        margin-left: -100%;
    }
    90%{
        margin-left: -100%;
    }
    100%
    {
        margin-left:0%
    }

}
.novedades{
    margin: 3rem 0;
    h2{
        text-align: center;
        margin: 1rem 0;
        font-size: 3rem;
        border-top:1px solid rgb(255, 189, 67);
        padding-top: 1rem;
    }
}
.novedadesImagen{
    margin-top: 2rem;
    overflow: hidden;
    img{
        object-fit: cover;
    }

}