.gridNosotros{
    display: grid;
    grid-template-areas:
    "navbar navbar"
    "lateral nosotros"
    "pie pie";
    grid-template-columns: 35% 65%;
    grid-template-rows: 3fr auto 2fr;
    height: 100vh;
    padding: 0; 
}

nav{
    grid-area: navbar;
}

aside{
    grid-area: lateral;
}

.mainNosotros{
    grid-area: nosotros;
    @include estilosContenidoSecundario;
}

footer{
    grid-area: pie;
}

.navNosotros{
    @include navbarSecundaria;
}

.contenedorGaleria{
    border: 1px solid $colorCalido;
    height: 400px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.galeria{
    height: 100%;
    position: relative;
    
}

.fotoGaleria{
    height: 100%;
    img{
        height: 100%;
        width: 100%;
    }
    
}
.flechas{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    a{
        img{
            height: 40px;
            border-radius: 5px;
        }
    }
}

a{
    color: $colorAzul;
    text-decoration: none;
    &:focus{
        color:$colorCalido ;
    }
}

@media (max-width:768px){
    .gridNosotros{
        grid-template-areas:
        "navbar"
        "lateral"
        "nosotros"
        "pie";
        grid-template-columns: 100%;

    }
}

@media (max-width:600px){
    .contenedorGaleria{
        height: 250px;
    }
}