.mainTrabaja{
    text-align: center;
    margin:3rem 1rem;
    h1{
        margin: 10px 0 20px;
    }
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: space-around;
    background-color: aliceblue;
    color:#797676;
    border-radius: 10px;        
    box-shadow: 0 0 20px rgb(85, 113, 136);
    margin: 4rem 1rem;
    h3{
        margin: 1rem 0;
    }    
}

.formA, .formB{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}
 
input, textarea{   
    margin:10px 5px;
    padding: 5px;
    outline: none;
    border: #797676;
   
}
.boton{
    font-size: 1rem;
    background-color: #479dc2;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    
}



