.navbar{
    background-color: $colorCeleste;
}

.navbar-brand{
    color: $letraClara !important;
    font-size: 2rem;
    white-space:normal;
    &:hover{
        color: $letraClara;
    }
}
.navbar-nav{
    li{
        a{
            color:$letraClara !important;
            font-size: 1.5rem !important;
        }
    } 
} 

.dropdown-menu{
    li{
        a{
            color: $letraOscura !important;
        }
    } 
}

#navbarNavDropdown{
    justify-content: end;
}

.navbar-light .navbar-toggler{
    color: $letraClara;
    border-color: $letraClara;
    }
    
    .logo{
        border-radius: 10px;
    }
